.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0px 100px;
}
.part1{
    display: flex;
    flex-direction: column;
}
.part2{
    background-color: rgb(238, 219, 219);
    border-radius: 8px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 300px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.button1{
    background-color: rgb(107, 107, 151);
    margin-top: 10px;
    border-radius: 10px;
    width: 200px;
    padding: 8px 0px;
}
.input_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input_label{
    align-self: self-start;
    font-weight: 500;
      
}
.input_box{
    border: 1.2px solid black;
    border-radius: 5px;
}
.text{
    margin-top: 35px;
}

.text h1 {
    margin: 0;       
    display: flex;
    align-self: flex-start;
}
.text .label {
    display: flex;
    font-size: 0.9em;  
    color: #666; 
    margin-top: -5px;  
    align-self: flex-start;
}
.logo{
    display: flex;
    margin-top: -40px;
}
